nav li{
	display: inline-block;
	list-style: none;
	font-family: arial;
}

#search{
	float: right;
	position: relative;
	right: 280px;
}

#va{
	position: relative;
	left: 100px;
}
 span{
 	font-family: arial;
 }

 .mainhead img{
 	border-radius: 100%;
 	width: 200px;
 }

 .mainhead {
 	text-align: center;
 }

 .mainhead h4{
 	font-family: arial;
 	font-size: 12px;
 }

 .mainhead h1{
 	font-size: 50px;
 }

 .mainhead h3{
 	font-family: arial;
 	font-color: rgb(248,249,253) !important;/** change to gray color**/
 }
.firstp p {
	width: 1000px;
	position: relative;
	left:320px;
	margin: 35px;
	font-family: arial;
	font-size: 12px;
	line-height: 20px;
}

#chair1{
	position: relative;
	left:470px;
	width: 600px;
}

.quote{
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	text-align:center;
}

#quotep {
	width: 1000px;
	position: relative;
	left:350px;
	margin: 25px;
	font-family: arial;
	font-size: 12px;
	line-height: 20px;
}

.imgchairs img{
	width: 350px;
	position: relative;
	left: 300px;
}

.twochairs{
	display: inline-block;
	position: relative;
	bottom: 150px;
}

.pimgchairs{
    width: 1000px;
	position: relative;
	left:320px;
	margin: 35px;
	font-family: arial;
	font-size: 12px;
	line-height: 20px;
}

.pimgchairs hr{
	position: relative;
	right: 70px;
}

.likes{
	text-align: center;
}

.commentbox{
	text-align: center;
}

.footer{
	margin: 80px;
	background-color: lightgray;
}

.footer1 {
	display: inline-block;
	position: relative;
	left: 200px;
}

.footer2{
	display: inline-block;
	float: right;
	position: relative;
	right: 200px;
	text-align: right;
}

.footer1 h4 span{
	font-family: arial;
	line-height: 20px;
}

.footer1 h5{
	margin-top: 8px;
}

.footer2 h4 span{
	font-family: arial;
	margin-bottom: 20px;
}
